---
---
@background-color: #eaecef;
@charcoal-grey: #5E5B63;
@light-charcoal-grey: #676F75;

body {
  background-color: @background-color;
}

header {
  height: 150px;
  width: 100%;
  background-color: #006294;
  background-image: -moz-linear-gradient(left center,rgb(0,52,82) 0%,rgb(0,77,119) 25%, rgb(0,99,148) 50%, rgb(0,116,174) 85%);
  background-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0, rgb(0,52,82)),color-stop(0.25, rgb(0,77,119)),color-stop(0.5, rgb(0,99,148)),color-stop(0.85, rgb(0,116,174)));
}

#spacer {
  height: 25px;
  background-color: @charcoal-grey;
  border: none;
  border-top: 1px solid @light-charcoal-grey;
}

#main {
  width: 870px;
  margin: auto;
  background-color: white;
  position: relative;
}

#page {
  margin: auto;
  margin: 0px 9px 0px 9px;
  position: relative;
  top: -13px;
  min-height: 400px;
  background-color: rgb(226,229,233);
  background:-moz-linear-gradient(center top,rgb(226,229,233) 0%,rgb(226,229,233) 115px,rgb(255,255,255) 305px);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
