---
---
@background-color: #eaecef;
@charcoal-grey: #5E5B63;
@light-charcoal-grey: #676F75;
@title-color: #0073B5;
@text-color: #5B5D64;
@item-color: #4a4a4c;
@subtitle-color: @item-color;

.rounded(@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.roundedx(@top-left: 5px, @top-right: 5px, @bottom-right: 5px, @bottom-left: 5px) {
  border-top-left-radius: @top-left;
  -moz-border-radius-topleft: @top-left;
  border-top-right-radius: @top-right;
  -moz-border-radius-topright: @top-right;
  border-bottom-right-radius: @bottom-right;
  -moz-border-radius-bottomright: @bottom-right;
  border-bottom-left-radius: @bottom-left;
  -moz-border-radius-bottomleft: @bottom-left;
}

.box-shadow(@x: 0px,@y: 0px, @blur: 2px, @spread: 0px, @color: black) {
  box-shadow: @x @y @blur @spread @color;
  -moz-box-shadow: @x @y @blur @spread @color;
  -webkit-box-shadow: @x @y @blur @spread @color;
}

.subtitled {
  color: @subtitle-color;
  font-weight: 105%;
  font-size: 14px;
}

body {
  font-family: "Lucida Grande";
  background-color: @background-color;
  a, a:visited {
    color: @title-color;
    text-decoration: none;
  }
  a:hover {
    color: @title-color;
    text-decoration: underline;
  }
}

header {
  height: 150px;
  width: 100%;
  background-color: #006294;
  background-image: -moz-linear-gradient(left center,rgb(0,52,82) 0%,rgb(0,77,119) 25%, rgb(0,99,148) 50%, rgb(0,116,174) 85%);
  background-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0, rgb(0,52,82)),color-stop(0.25, rgb(0,77,119)),color-stop(0.5, rgb(0,99,148)),color-stop(0.85, rgb(0,116,174)));

  color: #87C6ED;
  font-size: 25.5px;
  letter-spacing: 3px;
  .user-interfaces {
    font-family: "Gotham Light";
    font-weight: light;
  }
  .implemented {
    font-family: "Gotham Medium";
    font-weight: bold;
    padding-left: 10px;
    -webkit-mask-image: -webkit-gradient(linear, left top,left bottom, color-stop(0,rgba(0,0,0,.5)), color-stop(.66,rgba(0,0,0,1)));
  }
}

#spacer {
  height: 25px;
  background-color: @charcoal-grey;
  border: none;
  border-top: 1px solid @light-charcoal-grey;
}

#main {
  width: 950px;
  margin: auto;
  background-color: white;
  position: relative;
}

#blank {
  width: 151px;
}

#page {
  margin: auto;
  margin: 0px 9px 0px 9px;
  padding-top: 20px;
  position: relative;
  top: -13px;
  min-height: 400px;
  background-color: rgb(226,229,233);
  background:-moz-linear-gradient(center top,rgb(226,229,233) 0%,rgb(226,229,233) 115px,rgb(255,255,255) 305px);
  background:-webkit-gradient(linear, center top, center bottom,color-stop(0,rgb(226,229,233)),color-stop(.05,rgb(226,229,233)),color-stop(.10,rgb(255,255,255)));
  .rounded(15px);
}


#content-border {
  padding: 4px;
  background-color: rgba(255,255,255,0.20);
}

#content {
/*  width: 571px;*/
  padding: 20px;
  padding-left: 40px;
  background-color: white;
  color: @text-color;
  font-size: 13px;
  line-height: 19px;

  p {
    margin-top: 20px;
  }
  h1 {
    color: @title-color;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 28px;
  }
  h2 {
    color: @title-color;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 25px;
    margin-top: 20px;
  }
  h3 {
    color: @title-color;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 20px;
    margin-top: 20px;
  }

  @code-border: #e5e8eb;
  @code-background: #f5f6f8;
  pre {
    margin-top: 20px;
    border: 4px solid;
    border-color: @code-border;
    background-color: @code-background;
    white-space: pre;
  }

  li p:first-child strong {
    .subtitled;
  }
}

#sidebar {
  width: 180px;
  padding-right: 20px;
  margin-top: 4px;
  margin-left: -4px;
  z-index: -1px;
  .border-stripe {
    position: absolute;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    width: 4px;
  }
  h1 {
    .roundedx(0,10px,10px,0);
    .subtitled;
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
    background-color: #c8ced5;
  }
}

td.sidebar {
  text-align: left;
}

.Post {
  .date {
    border: 1px solid black;
    color: white;
    background-color: #3b3b43;
    font-size: 14px;
    font-weight: 105%;
    padding: 10px 40px 10px 20px;
    .rounded(10px);
    position: absolute;
    left: 15px;
    top: 40px;
    .box-shadow(0,0,6px);
  }
}
