<!doctype html>  
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="{{site.url}}/css/style.css?v=1">
  <link rel="stylesheet" href="{{site.url}}/css/thefrontside.css?v=1"/>

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">  -->

 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="{{site.url}}/js/modernizr-1.5.min.js"></script>

</head>

<body>

  <div id="container">
    <header>
      <div id="navbar">
        <a class="img" href="http://twitter.com/thefrontside"><img src="{{site.url}}/images/TwitterIcon_20x20.png"/></a>
        <a href="http://twitter.com/thefrontside">
          Twitter
        </a>
        <img src="{{site.url}}/images/feedicon_20x20.png"/>
        <a href="/atom.xml">
          RSS
        </a>
        <a class="img" href="http://github.com/thefrontside"><img src="{{site.url}}/images/github_20x20.png"/></a>
        <a href="http://github.com/thefrontside">
          Github
        </a>
        <a class="img" href="http://thefrontside.net"><img src="{{site.url}}/images/thefrontside_icon_20x25.png" style="width: 25px;"></a>
        <a class="last" href="http://thefrontside.net">
            thefrontside.net
        </a>
      </div>
      <div id="slogan">
        <span class="user-interfaces">User Interfaces:</span><span class="implemented">Implemented</span>
      </div>
    </header>
    <div id="spacer"></div>
    <div id="main">
      <div id="page">
        <table cellpadding="0" cellspacing="0" style="width: 100%;">
          <tr>
            <td id="blank">
            </td>
            <td>
              <div id="content-border"
                <div id="content">
                  {{content}}
                </div>
              </div>
            </td>
            <td class="sidebar">
              <div id="sidebar">
                <div class="border-stripe"></div>
                {% if page.author %}
                <h1 class="first">/{{page.author}}</h1>
                <div class="bio item">
                  <table>
                    <tr>
                      <td><img class="avatar" src="{{site.url}}/images/skull_guns_60x60.png"/></td>
                      <td style="padding-left: 5px;">
                        <div class="name">Charles Lowell</div>
                        <div class="role">Founder</div>
                        <div class="networks">
                          <a href="http://twitter.com/cowboyd">
                            <img src="{{site.url}}/images/TwitterIcon_20x20.png"/>
                          </a>
                          <a href="http://github.com/cowboyd">
                            <img src="{{site.url}}/images/github_20x20.png" style="border-radius: 2px;"/>
                          </a>
                          <a href="/atom.xml">
                            <img src="{{site.url}}/images/feedicon_20x20.png"/>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </table>
                  <div class="quote">
                    &ldquo;For many years I wandered. Then I sat down to rip some code.&rdquo;
                  </div>
                </div>
                {% else %}
                <h1 class="first">/thefrontside</h1>
                <div class="item">
                  <img src="{{site.url}}/images/thefrontside_logo_large.png" style="display: block; height: 76px; width: 125px;"/>
                  <div class="address">
                    <div>The Frontside</div>
                    <div>Austin, TX</div>
                  </div>
                </div>
                {% endif %}
                <h1>Recent Posts</h1>
                <div class="item recent-posts">
                  {% for p in site.posts offset:1 limit:6 %}
                  <div class="date">{{p.date | date: "%b %d, %Y"}}</div>
                  <div class="title"><a href="{{p.url}}">{{p.title}}</a></div>
                  {% endfor %}
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
    <footer>

    </footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="{{site.url}}/js/jquery-1.4.2.min.js"><\/script>')</script>


  <script src="{{site.url}}/js/plugins.js?v=1"></script>
  <script src="{{site.url}}/js/script.js?v=1"></script>

  <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?"></script>
    <script>
      DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images
    </script>
  <![endif]-->


  <!-- yui profiler and profileviewer - remove for production -->
  <script src="{{site.url}}/js/profiling/yahoo-profiling.min.js"></script>
  <script src="{{site.url}}/js/profiling/config.js?v=1"></script>
  <!-- end profiling code -->


  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>